/* h1{
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
} */

/* NORMALIZACIÓN: */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y alto a pesar de padding y border */
    font-family: "Inter", sans-serif;
    list-style: none; /* Esto quita los puntos o viñetas */
    text-decoration: none; /* Esto quita los subrayado en los enlaces */
    color: white;
}

body{
    background-color: black; /* TODO borrar cuando tengamos el fondo final*/
}

header{
    position: fixed; /* Esto hace que el header se quede fijo arriba */
    right: 0;
    top: 0;
    z-index: 100; /* Esto hace que el header se muestre por encima del resto de cosas  */
    width: 100%;
    display: flex; /* Esto hará que los elementos se pongan en linea */
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 20px;
    letter-spacing: 20px;
    font-weight: 600;
    text-shadow: white;
}

.navlist {
    display: flex;
}

.navlist a {
    margin-left: 30px; /* Esto es para separar las palabras */
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /* Este es un subrayado transparente */
    transition: all .5s ease; /* Esto es para animar todas las características del .navlist a */
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    display: none;
}

#menu.icon{
    font-size: 35px;
    z-index: 101; /* para que esté sobre el header */
    cursor: pointer; /* para que aparezca la manito */

}

#menu-toggle{
    display: none; /* Nunca quiero que se vea el checkbox */
}

.menu.icon-action {
    display: none; /* Esto se le pone para que no se pueda hacer click */
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem; /* Esto es para que haya espacio de 2rem entre las dos columnas */
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero-text h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /* esto hace que la transición sea lineal */
}
.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0 0 10px;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
    font-size: 30px;
    width: 57px;
}

.scroll-down i {
    display: block;
    padding: 12%;
    font-size: 40px;
    background-color: #21383d;
    border-radius: 50px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

/* Acá vamos a hacer mediaqueries para que la página sea responsive */

@media (max-width:992px){
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .icons{
        display: none;
    }
    
    .scroll-down{
        display: none;
    }
}
@media (max-width: 768px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img{
        margin: 0;
    }

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }


    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 220px;
        background-color: #042e31d7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }

}